body{
	font-family: 'Roboto', sans-serif;
}
details summary::-webkit-details-marker {
    display:none;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	overflow: auto;
	max-width: 100%;
	background: #ffffff;
}
h1{
	text-align: center;
	font-size: 50px;
	height: 100px;
	background: #ffe5b4;
	line-height: 2em;
}
.header_links{
	height: 40px;
	text-align: center;
	background: #FFCC99;
    width: 100%;
}
ul#links li{
	display: inline-block;
    padding: 0px 25px;
    color: black;
    margin: auto;
    text-align: center;
    line-height: 2.5em;
}
.content{
	margin-right: 25%;
	margin-left: 25%;
	right: 0;
	width: 50%;
	margin-top: 70px;
	background: #ffffff;
	text-align: center;
}
.home_content{
	text-align: left;
	line-height: 1.2em;
}
.home_content p{
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 17px;
}
.Login{
	line-height: 3em
}
.registration{
	line-height: 3em	
}
.auth-field{
	height: 25px;
	border: 3px, black;
	background: #ffe5b4;
	color: black;
    border-radius: 5px;	
}
.submit-field{
	border: 3px, black;
	height: 25px;
	width: 150px;
	background: #ffe5b4;
	border-radius: 5px;
}
.remember-me-field{
	height: 13px;
	width: 13px;
}
.forms{
	line-height: 3em;
    text-align: center;
}
.auth-field-token{
	height: 25px;
	border: 3px, black;
	background: #ffe5b4;
	color: black;
    border-radius: 5px;	
}
.submit-field-token{
	border: 3px, black;
	height: 25px;
	width: 150px;
	background: #ffe5b4;
	border-radius: 5px;
}
input{
	width: 400px;
    height: 35px;
	background: #ffe5b4;
	color: black;
    border-radius: 5px;
	font-size: 17px;
}
input:focus{
    outline: none;
}
.token{
	padding: 25px;
}
.documentation h3{
	text-align: center;
}
.documentation{
	padding: 50px;
	text-align: left;
}
.paragraph{
	padding-top: 50px;
}
.documentation p.docs_text{
	margin-top: 1.5em;
}
.examples{
	padding: 5px;
	background: #e9e9e9;
	border-radius: 5px;
}
.documentation p.example{
	padding: 5px;
	background: #e9e9e9;
	border-radius: 5px; 
}
.documentation p.examples1{
	padding-left: 25px;
	background: #e9e9e9;
	border-radius: 5px;
}
.documentation p.examples2{
	padding-left: 30px;
}
.documentation p.examples3{
	padding-left: 95px;
}
.add_quote{
	line-height: 3em
}
.add_quote_field{
	resize: none;
	margin-top: 1em;
	border: 5px, black;
	background: #ffe5b4;
	color: black;
    border-radius: 5px;	
}
.add_quote_button_field{
	width: 150px;
}
.del_quote_button_field{
	width: 150px;
}
.del_quote{
	line-height: 3em
}
.get_quote{
	line-height: 5em;
}
.get_quote_button_field{
	width: 150px;
}
.quote_field{
	margin: auto;
	margin-top: 3em;
	width: 600px;
	border: 3px, black;
	background: #fff6e6;
	color: black;
    border-radius: 5px;
}
.quote{
	display: inline-block;
	margin: 20px;
}
.quote_text{
	line-height: 1em;
	text-align: left;
}
.quote_info{
	line-height: 1em;
	text-align: right;
	margin-top: 1em;
	font-size: 85%;
}