body{
	font-family: 'Roboto', sans-serif;
}
details summary::-webkit-details-marker {
  display:none;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	max-width: 100%;
	height: 100%;
	background: #ffffff;
}
h1{
	text-align: center;
	font-size: 50px;
	height: 85px;
	background: #ffe5b4;
	line-height: 2em;
}
.header_links{
	height: 40px;
	position: fixed;
	text-align: center;
	background: #FFCC99;
  width: 100%;

}
ul#links li{
	display: inline-block;
  padding: 0px 25px;
  color: black;
  margin: auto;
  text-align: center;
  line-height: 2.5em;
}
.content{
	position: fixed;
	margin-right: 25%;
	margin-left: 25%;
	right: 0;
	width: 50%;
	height: 100%;
	margin-top: 70px;
	background: #ffffff;
	text-align: center;
}
.home_content{
	text-align: left;
	line-height: 1.2em;
}
.home_content p{
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 17px;
}
ul#main_links li{
	display: inline-block;
  padding: 7px 30px;
  color: black;
  margin: 3em 2em 3em;
  text-align: center;
  background: #DCDCDC;
  border-radius: 3px;
  font-size: 17px;
}
.Login{
	line-height: 3em
}
.registration{
	line-height: 3em	
}
.auth-field{
	height: 25px;
	border: 3px, black;
	background: #ffe5b4;
	color: black;
  border-radius: 5px;	
}
.submit-field{
	border: 3px, black;
	height: 25px;
	width: 150px;
	background: #ffe5b4;
	border-radius: 5px;
}
.remember-me-field{
	height: 13px;
	width: 13px;
}
.forms{
	line-height: 3em;
  text-align: center;
}
.auth-field-token{
	height: 25px;
	border: 3px, black;
	background: #ffe5b4;
	color: black;
  border-radius: 5px;	
}
.submit-field-token{
	border: 3px, black;
	height: 25px;
	width: 150px;
	background: #ffe5b4;
	border-radius: 5px;
}
input{
	width: 300px;
  height: 25px;
	border: 3px, black;
	background: #ffe5b4;
	color: black;
  border-radius: 5px;
}
.token{
	padding: 25px;
}
.documentation{
	padding: 50px;
}