body{
	font-family: 'Roboto', sans-serif;
}
details summary::-webkit-details-marker {
  display:none;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	width: 1000;
	height: 100%;
}
.sidebar{
	text-align: center;
	position: fixed;
	left: 0;
	width: 30%;
	height: 100%;

}
.sidebar ul a{
	font-size: 16px;
	line-height: 2;
}
.sidebar header{
	font-size: 22px;
	line-height: 70px;
}
