{% extends "base.html" %}

{% block content %}
<div class="Token-Login">
    <h2>Получить токен</h2>
    <div class="forms">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.email(size=32, class_="auth-field-token") }}<br>
                {% for error in form.email.errors %}
                <span style="color: #D2691E;">{{'Укажите правильный email-адрес'}}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password(size=32, class_="auth-field-token") }}<br>
                {% for error in form.password.errors %}
                <span style="color: #D2691E;">{{'Это поле должно быть заполнено.'}}</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class_="submit-field-token") }}</p>
        </form>
        <div class="token-flash-message">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li style="color: #D2691E;">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="token">
        {% if message %}
        <input type="text" value={{ message }}>
        {% else %}
        <input type="text" placeholder="Ваш токен: ">
        {% endif %}
    </div>
</div>
<div class="documentation">
    <h3>Документация к API</h3>
    <div class="paragraph">
        <p class="docs_text">Регистрация нового пользователя(POST-method) - получить токен, если пользователь ещё не зарегистрирован.<br>
        url - "/api/registration"</p>
        <p class="docs_text">Запрос - json с полями "email" и "password"<p>
        <div class="examples"><p class="examples1"> {"email": "monoliza@clon.ru",</p><p class="examples2">"password": "moirobot"}</p></div>
        <p class="docs_text">Ответ - json с токеном для дальнейшей работы с api</p>
        <p class="examples1"> {"token": "dxhsnsjsnjsjdixjdhehdh"}</p>
    </div>
    <div class="paragraph">
        <p class="docs_text">Получить токен, зарегистрированного пользователя(POST-method) - получить токен, если пользователь уже зарегистрирован.<br>
        url - "/api/"</p>
        <p class="docs_text">Запрос - json с полями "email" и "password"<p>
        <div class="examples"><p class="examples1"> {"email": "monoliza@clon.ru",</p><p class="examples2">"password": "moirobot"}</p></div>
        <p class="docs_text">Ответ - json с токеном для дальнейшей работы с api<p>
        <p class="examples1"> {"token": "dxhsnsjsnjsjdixjdhehdh"}</p>
    </div>
</div>
{% endblock %}