{% extends "base.html" %}

{% block content %}
<div class="Token-Login">
    <h2>Получить токен</h2>
    <div class="forms">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.email(size=32, class_="auth-field-token") }}<br>
                {% for error in form.email.errors %}
                <span style="color: #D2691E;">{{'Укажите правильный email-адрес'}}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password(size=32, class_="auth-field-token") }}<br>
                {% for error in form.password.errors %}
                <span style="color: #D2691E;">{{'Это поле должно быть заполнено.'}}</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class_="submit-field-token") }}</p>
        </form>
        <div class="token-flash-message">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li style="color: #D2691E;">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="token">
        {% if message %}
        <input type="text" value={{ message }}>
        {% else %}
        <input type="text" placeholder="Ваш токен: ">
        {% endif %}
    </div>
</div>
<div class="documentation">
    <h3>Документация к API</h3>
    <div class="paragraph">
        <h4 class="docs_text">Регистрация пользователя(POST-method)</h4>
        <p class="docs_text">url - "/api/registration"</p>
        <p class="docs_text">Запрос - json с полями "email" и "password"<p>
        <div class="examples">
            <p class="examples1"> {"email": "monoliza@clon.ru",</p>
            <p class="examples2">"password": "moirobot"}</p>
        </div>
        <p class="docs_text">Ответ - json с токеном для дальнейшей работы с api</p>
        <p class="example"> {"token": "dxhsnsjsnjsjdixjdhehdh"}</p>
    </div>
    <div class="paragraph">
        <h4 class="docs_text">Аутентификация пользователя(POST-method)</h4>
        <p class="docs_text">url - "/api/authentication"</p>
        <p class="docs_text">Запрос - json с полями "email" и "password"<p>
        <div class="examples">
            <p class="examples1"> {"email": "monoliza@clon.ru",</p>
            <p class="examples2">"password": "moirobot"}</p>
        </div>
        <p class="docs_text">Ответ - json с токеном для дальнейшей работы с api<p>
        <p class="example"> {"token": "dxhsnsjsnjsjdixjdhehdh"}</p>
    </div>
    <div class="paragraph">
        <h4 class="docs_text">Получить случайную цитату(GET-method)</h4>
        <p class="docs_text">url - "/api/quote"</p>
        <p class="docs_text">Ответ - json с цитатой</p>
        <div class="examples">
            <p class="examples1">{"user_id": 1,</p>
            <p class="examples2">"quote_id": 34,</p>
            <p class="examples2">"quote": {"author": "автор цитаты",</p>
            <p class="examples3">"book_title": "Название источника",</p>
            <p class="examples3">"quote": "цитата"}</p>
        </div>
    </div>
    <div class="paragraph">
       <h4 class="docs_text">Получить определённую цитату(GET-methods)</h4>
       <p class="docs_text">url - /api/quote/"id цитаты, которую хотите получить"</p>
       <p class="example">Пример: /api/quote/14</p>
       <p class="docs_text">Ответ - json с цитатой</p>
        <div class="examples">
            <p class="examples1">{"user_id": 1,</p>
            <p class="examples2">"quote_id": 14,</p>
            <p class="examples2">"quote": {"author": "автор цитаты",</p>
            <p class="examples3">"book_title": "Название источника",</p>
            <p class="examples3">"quote": "цитата"}</p>
        </div>
    </div>
    <div class="paragraph">
       <h4 class="docs_text">Получить определённую цитату(GET-methods)</h4>
       <p class="docs_text">url - /api/quote/"автор цитаты или названия источника"</p>
       <p class="example">Пример: /api/quote/Рей%20Брэдбери</p>
       <p class="docs_text">Ответ - json с цитатой</p>
        <div class="examples">
            <p class="examples1">{"user_id": 1,</p>
            <p class="examples2">"quote_id": 32,</p>
            <p class="examples2">"quote": {"author": "Рей Брэдбери",</p>
            <p class="examples3">"book_title": "Название источника",</p>
            <p class="examples3">"quote": "цитата"}</p>
        </div>
    </div>
    <div class="paragraph">
       <h4 class="docs_text">Получить определённую цитату(GET-methods)</h4>
       <p class="docs_text">url - /api/quote/"Автор Цитаты"/"Название источника"</p>
       <p class="example">Пример: /api/quote/Рей%20Брэдбери/Вино%20из%20одуванчиков</p>
       <p class="docs_text">Ответ - json с цитатой</p>
        <div class="examples">
            <p class="examples1">{"user_id": 1,</p>
            <p class="examples2">"quote_id": 14,</p>
            <p class="examples2">"quote": {"author": "Рей Брэдбери",</p>
            <p class="examples3">"book_title": "Вино из одуванчиков",</p>
            <p class="examples3">"quote": "цитата"}</p>
        </div>
    </div>
    <div class="paragraph">
        <h4 class="docs_text">Получить несколько цитат</h4>
        <p class="docs_text">url - /api/quotes/"количество цитат"</p>
        <p class="example">Пример: /api/quotes/3</p>
        <p class="docs_text">Ответ - список цитат указанного количества</p>
    </div>
    <div class="paragraph">
        <h4 class="docs_text">Добавить цитату(POST-method)</h4>
        <p class="docs_text">url - /api/new_quote</p>
        <p class="docs_text">Запрос - json с полями "token" и "quote" а в quote поля "author", "book_title", "quote"<br>
        (Токен можно получить в начале страницы, при аутентификации или регистрации в api)</p>
        <div class="examples">
            <p class="examples1">{"token": "Ваш токен",</p>
            <p class="examples2">"quote": {"author": "автор цитаты",</p>
            <p class="examples3">"book_title": "Название источника",</p>
            <p class="examples3">"quote": "цитата"}</p>
        </div>
        <p class="docs_text">Ответ - json с добавленной цитатой</p>
        <div class="examples">
            <p class="examples1">{"user_id": 1,</p>
            <p class="examples2">"quote_id": 1,</p>
            <p class="examples2">"quote": {"author": "автор цитаты",</p>
            <p class="examples3">"book_title": "Название источника",</p>
            <p class="examples3">"quote": "цитата"}</p>
        </div>
    </div>
    <div class="paragraph">
        <h4 class="docs_text">Удалить цитату(DELETE-method)</h4>
        <p class="docs_text">url - /api/del_quote</p>
        <p class="example">Пример: /api/del_quote/3</p>
        <p class="docs_text">Запрос json с токеном</p>
        <p class="examples">{"token": "Ваш токен"}</p>
        <p class="docs_text">Ответ - json с удалённой цитатой</p>
        <div class="examples">
            <p class="examples1">{"user_id": 1,</p>
            <p class="examples2">"quote_id": 3,</p>
            <p class="examples2">"quote": {"author": "автор цитаты",</p>
            <p class="examples3">"book_title": "Название источника",</p>
            <p class="examples3">"quote": "цитата"}</p>
        </div>
    </div>
</div>
{% endblock %}