{% extends "base.html" %}

{% block content %}
<div class="home_content">
    <p>Любители цитат найдут здесь возможность читать здесь цитаты из различных источников.<br>
    А также добавлять новые цитаты из интересных книг, интересных выступлений людей, фильмов и сериалов.</p>
    <p>QuoBook создавался как учебный проект, поэтому возможны различные ошибки.<br>
    Сообщить о них можно на почту или в сообщениях в телеграм.</p>
    <p>У проекта есть открытый API. Документацию по использованию API находится в соответствующей вкладке.</p>
</div>
<div class="home_links">
    <ul id="main_links">
        <li><a href="https://github.com/VGgog/QuoBook2.0">GitHub</a></li>
        <li><a href="https://t.me/DrDyuu">Telegram</a></li>
        <li><a href="mailto:gluhovkich@gmail.com">Почта</a></li>
    </ul>
</div>
{% endblock %}