{% extends "base.html" %}

{% block content %}
<div class="home_content">
    <p>QuoBook - проект для чтения цитат из различных источников: книг, выступлений известных людей, конференций,
    фильмов, книг и т.п. Вы можете читать цитаты определённых авторов или из определённых источников. Пользователь
    после регистрации может добавлять новые или удалять добавленные самим пользователем цитаты.</p>
    <p>Проект находится на стадии тестирования , и поэтому возможны возникновения различных ошибок.
    Вы можете сообщить о них на <a href="mailto:gluhovkich@gmail.com">почту</a> или в <a href="https://t.me/DrDyuu">Telegram</a>.
    Также Вы можете сообщать о различных идеях, которые можно внедрить в проект.
    Исходный код проекта доступен на площадке <a href="https://github.com/VGgog/QuoBook2.0">GitHub</a>.</p>
</div>
{% endblock %}